*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
eggs
parts
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.idea
.DS_STORE
.DS_Store
sellerinfo.py
.tags_sorted_by_file
.tags

