{% macro cssheaders() -%}
    <link type="text/css" rel="stylesheet" href="/static/css/social-likes.css"/>
    <link type="text/css" rel="stylesheet" href="/gameon/static/css/gameon.css"/>
    <link type="text/css" rel="stylesheet" href="/gameon/static/js/lib/loopj-jquery-simple-slider-fa64f59/css/simple-slider.css"/>
    <link type="text/css" rel="stylesheet" href="/gameon/static/js/lib/loopj-jquery-simple-slider-fa64f59/css/simple-slider-volume.css"/>
{%- endmacro %}

{% macro jsheaders() -%}
    <script type="text/javascript" src="/gameon/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/gameon/static/js/jquery.blockUI.js"></script>

    <script type="text/javascript" src="/gameon/static/js/lib/soundmanager/script/soundmanager2.js"></script>
    <script type="text/javascript" src="/gameon/static/js/lib/loopj-jquery-simple-slider-fa64f59/js/simple-slider.min.js"></script>
    <script type="text/javascript" src="/gameon/static/js/gameon.js"></script>

{%- endmacro %}

{% macro jplayer() -%}
<div id="jquery_jplayer_1" class="jp-jplayer"></div>

<div id="jp_container_1" class="jp-audio">
<div class="jp-type-single">
  <div class="jp-gui jp-interface">
    <ul class="jp-controls">
      <!--<li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>-->
      <!--<li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>-->
      <!--<li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>-->
      <li><a href="javascript:;" class="jp-mute btn btn-small btn-danger" tabindex="1" title="mute" onclick="gameon.mute()"><span class="icon-volume-off"></span></a></li>
      <li><a href="javascript:;" class="jp-unmute btn btn-small btn-danger" tabindex="1" title="unmute" onclick="gameon.unmute()"><span class="icon-volume-up"></span></a></li>
      <!--<li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>-->
    </ul>
    <!--<div class="jp-progress">-->
      <!--<div class="jp-seek-bar">-->
        <!--<div class="jp-play-bar"></div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="jp-volume-bar">
        <div class="jp-volume-bg">
            <div class="jp-volume-bar-value"></div>
        </div>
    </div>
    <!--<div class="jp-time-holder">-->
      <!--<div class="jp-current-time"></div>-->
      <!--<div class="jp-duration"></div>-->
      <!--<ul class="jp-toggles">-->
        <!--<li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>-->
        <!--<li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  </div>
  <!--<div class="jp-title">-->
    <!--<ul>-->
      <!--<li>Bubble</li>-->
    <!--</ul>-->
  <!--</div>-->
  <!--<div class="jp-no-solution">-->
    <!--<span>Update Required</span>-->
    <!--To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.-->
  <!--</div>-->
</div>
</div>
<div id="gameon_jplayers" style="display: none;">
</div>
{%- endmacro %}