{% macro cssheaders() -%}
    <link type="text/css" rel="stylesheet" href="/gameon/static/css/social-likes.css"/>
    <link type="text/css" rel="stylesheet" href="/gameon/static/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/gameon/static/js/lib/loopj-jquery-simple-slider-fa64f59/css/simple-slider.css"/>
    <link type="text/css" rel="stylesheet" href="/gameon/static/js/lib/loopj-jquery-simple-slider-fa64f59/css/simple-slider-volume.css"/>
    <link type="text/css" rel="stylesheet" href="/gameon/static/css/gameon.css"/>
{%- endmacro %}

{% macro jsheaders() -%}
    <script type="text/javascript" src="/gameon/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/gameon/static/js/jquery.blockUI.js"></script>

    <script type="text/javascript" src="/gameon/static/js/lib/soundmanager/script/soundmanager2.js"></script>
    <script type="text/javascript" src="/gameon/static/js/lib/loopj-jquery-simple-slider-fa64f59/js/simple-slider.min.js"></script>
    <script type="text/javascript" src="/gameon/static/js/gameon.js"></script>

{%- endmacro %}
