{% import "templates/templates.jinja2" as gameon with context %}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Jasmine Spec Runner v2.0.0</title>

    <link rel="shortcut icon" type="image/png" href="/gameon/static/js/lib/jasmine-2.0.0/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="/gameon/static/js/lib/jasmine-2.0.0/jasmine.css">

    {{ gameon.cssheaders() }}

    <script type="text/javascript" src="/gameon/static/js/lib/jasmine-2.0.0/jasmine.js"></script>
    <script type="text/javascript" src="/gameon/static/js/lib/jasmine-2.0.0/jasmine-html.js"></script>
    <script type="text/javascript" src="/gameon/static/js/lib/jasmine-2.0.0/boot.js"></script>

    {{ gameon.jsheaders() }}


    <script type="text/javascript" src="/gameon/static/js/spec/SpecHelper.js"></script>
    <script type="text/javascript" src="/gameon/static/js/spec/gameonspec.js"></script>

</head>

<body>
<div class="gameon-clock"></div>
<div class="gameon-board"></div>
<div class="gameon-volume">
    <button class="gameon-volume__mute btn btn-large btn-info" type="button" onclick="gameon.muteClick()"><span
            class="glyphicon glyphicon-volume-off"></span></button>
    <button class="gameon-volume__unmute btn btn-large btn-info" type="button" onclick="gameon.unmuteClick()"><span
            class="glyphicon glyphicon-volume-up"></span></button>
    <div class="gameon-volume__slider">
        <input type="text" data-slider="true" value="0.4" data-slider-highlight="true" data-slider-theme="volume"/>
    </div>
    <div class="clear"></div>
</div>
</body>
</html>
