.gameon-clock {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

@media (min-width: 961px) {
    .gameon-clock {
        font-weight: bold;
        font-size: 18px;
    }
}

.gameon-board table {
    border: 1px solid #808080;
    margin: 0 auto;
    overflow: hidden;
}

.gameon-board td {
    width: 60px;
    height: 60px;
    border: 1px solid white;
    text-align: center;
}

@media (min-width: 961px) and (max-width: 1280px)
and (min-height: 750px) {
    .gameon-board td {
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 1280px) and (min-height: 961px) {
    .gameon-board td {
        width: 120px;
        height: 120px;
    }
}

.gameon-board .even {
    background-color: #5bc0de;
}

.gameon-board .odd {
    background-color: rgb(147, 204, 204);
}

.slider-volume {
    width: 130px;
}

.gameon-volume__unmute {
    display: none;
    float: left;
}

.gameon-volume__mute {
    display: none;
    float: left;
}

.gameon-volume__slider {
    display: block;
    margin: 10px 0 0 0;
    float: left;
}

.clear {
    clear: both;
}

/* =======    bootstrap overrides ======== */
.gameon-board .btn-lg {
    width: 50px;
    height: 50px;
    padding: 0;
}

@media (min-width: 961px) and (max-width: 1280px)
and (min-height: 750px) {

    .gameon-board .btn-lg {
        width: 70px;
        height: 70px;
        font-size: 36px;
        padding: 0;
    }
}

@media (min-width: 1280px) and (min-height: 961px) {

    .gameon-board .btn-lg {
        width: 100px;
        height: 100px;
        font-size: 60px;
        padding: 0;
    }
}

.gameon-btn-hg {
    font-size: 28px;
}

/* Star rating slider overrides */

.slider > .track, .slider > .highlight-track {
    height: 30px;
}

.slider .dragger {
    display: none;
}

/* ===============        star bar      =================  */

.gameon-starbar {
    position: relative;

}

.gameon-starbar {

}

.gameon-starbar__score {
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    float: left;
}

.gameon-starbar__stars {
    padding: 2px;
    position: absolute;
    z-index: 10;
    top: -18px;
}

.gameon-starbar__star {
    color: #808080;
    font-size: 40px;
    font-weight: bold;
    cursor: default;
    text-decoration: none;
    line-height: 50px;
    position: absolute;
}

.gameon-starbar__star:before {
    content: "\2606";
}

.gameon-starbar__bar {
    margin-top: 8px;

}

.gameon-stars {
    padding: 2px;
    position: absolute;
    z-index: 10;
}

.gameon-star {
    color: #808080;
    font-size: 20px;
    font-weight: bold;
    cursor: default;
    text-decoration: none;
    line-height: 40px;
    position: absolute;
    top: -13px;
}

.gameon-star--0 {
    left: -5px;
}

.gameon-star--1 {
    left: 2px;
}

.gameon-star--2 {
    left: 9px;
}

@media (min-width: 961px) and (max-width: 1280px)
and (min-height: 750px) {
    .gameon-star {
        font-size: 38px;
        top: -23px;
    }

    .gameon-star--0 {
        left: -5px;
    }

    .gameon-star--1 {
        left: 8px;
    }

    .gameon-star--2 {
        left: 21px;
    }
}

@media (min-width: 1280px) and (min-height: 961px) {

    .gameon-star {
        font-size: 40px;
        top: -23px;
    }

    .gameon-star--0 {
        left: -5px;
    }

    .gameon-star--1 {
        left: 15px;
    }

    .gameon-star--2 {
        left: 35px;
    }
}

.gameon-star:before {
    content: "\2606";
}

.gameon-star--shiny {
    /*color: #e3780e;*/
    color: #FFEF35;
}

.gameon-star--shiny:before {
    content: "\2605";
    /*color: yellow;*/
    /*font-size: 37px;*/
}

.right {
    float: right;
}

.left {
    float: left;
}

.mm-end-message {
    font-size: 45px;
    font-weight: bold;
    color: #5CB75C;
}

.mm-bonus-message {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    background-color: whitesmoke;
}
