.gameon-clock {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

@media (min-width: 961px) {
    .gameon-clock {
        font-weight: bold;
        font-size: 18px;
    }
}

.gameon-board table {
    border: 1px solid #808080;
    margin: 0 auto;
    overflow: hidden;
}

.gameon-board td {
    width: 60px;
    height: 60px;
    border: 1px solid white;
    text-align: center;
}

@media (min-width: 961px) {
    .gameon-board td {
        width: 120px;
        height: 120px;

    }
}

.gameon-board .even {
    background-color: #5bc0de;
}

.gameon-board .odd {
    background-color: rgb(147, 204, 204);
}

.slider-volume {
    width: 130px;
}

.gameon-volume__unmute {
    display: none;
    float: left;
}

.gameon-volume__mute {
    display: none;
    float: left;
}

.gameon-volume__slider {
    display: block;
    margin: 10px 0 0 0;
    float: left;
}

.clear {
    clear: both;
}

/* =======    bootstrap overrides ======== */

@media (min-width: 961px) {

    .gameon-board .btn-lg {
        width: 100px;
        height: 100px;
        font-size: 60px;
    }
}

.gameon-btn-hg {
    font-size: 28px;
}

/* Star rating slider overrides */

.slider > .track, .slider > .highlight-track {
    height: 30px;
}

.slider .dragger {
    display: none;
}

/* ===============        star bar      =================  */

.gameon-starbar {
    position: relative;

}

.gameon-starbar {

}

.gameon-starbar__score {
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
}

.gameon-starbar__stars {
    padding: 2px;
    position: absolute;
    z-index: 10;
    top: -18px;
}

.gameon-starbar__star {
    color: #808080;
    font-size: 40px;
    font-weight: bold;
    cursor: default;
    text-decoration: none;
    line-height: 50px;
    position: absolute;
}

.gameon-starbar__star:before {
    content: "\2606";
}

.gameon-starbar__bar {
    margin-top: 8px;

}

.gameon-star--shiny {
    color: #e3780e;
}

.gameon-star--shiny:before {
    content: "\2605";
    /*color: yellow;*/
    /*font-size: 37px;*/
}
