

body {
    background-image: url("/static/img/graph_paper_texture.jpg");
    background-repeat: repeat;
    background-position: center 12px;
    background-color: #93bddf;
    position: relative;
}

.mm-background {
    padding-top: 60px;
    padding-bottom: 90px;
    text-align: center;
}

.mm-logo {
    /*margin: 300px;*/
    display: block;
    text-align: center;
}
.mm-logo__image {
    margin: 0 auto;
}

.mm-play-btn {
    width: auto;
    display: block;
    text-align: center;
    padding: 40px 0;
}

.mm-difficulty__btn {
    width: 150px;
    margin: 10px 0;
}
.back-btn {
    position: absolute;
    top: 10px;
    left: 10px;

}

