{% import "macros.jinja2" as macros with context %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Contact Multiplication Master - Addicting and Fun Word Puzzle Game</title>
    <meta name="description"
          content="Contact Multiplication Master The Utterly Addicting Word Game. Play This Addicting New Word Puzzle, Now For Free!">

    <meta name="keywords" content="puzzle games, contact Multiplication Master, crossword, game, word puzzle game">
    <meta property="og:title" content="Contact Multiplication Master - Addicting and Fun Word Puzzle Game">
    <meta property="og:url" content="http://www.multiplcationmaster.com">
    <meta property="og:image" content="http://www.multiplcationmaster.com/img/multiplcationmaster_logo.png">
    <meta property="og:description"
          content="Contact Multiplication Master! The Utterly Addicting and Fun Word Puzzle Game">
    <meta property="og:type" content="game">
    <meta property="og:site_name" content="Multiplication Master">
    <meta property="fb:admins" content="337972272904903">

    {{ macros.headers(ws, highscores, achievements, blocked_spaces) }}

</head>
<body>
  {{ macros.fbstuff() }}
<div id="pagebody">
    <div id="container">
        <div id="main">
        	<div id="logo">
                <a href="/" title="Multiplication Master Word Puzzle Game">
                    <img src="/static/img/multiplcationmaster_logo.png" alt="Multiplication Master" title="Multiplication Master"/>
                </a>
                <div id="login">
                    {{ macros.loginoutbutton() }}
                    {{ macros.jplayer() }}
			    </div>
	        </div>
            
            <table id="gametable" border="1">
                <tr>
                    <td>

                    </td>

                </tr>
            </table>
            <div class="fb-like" data-href="https://www.facebook.com/multiplcationmaster" data-send="true" data-width="450" data-show-faces="true"></div>
            {{ macros.shareBtnsHorizontal() }}
            <div id="showscore0">
                <button style="display: none"></button>
            </div>
            <div id="showscore1">
                <button style="display: none"></button>
            </div>
            <div id="showscore2">
                <button style="display: none"></button>
            </div>
            <div id="showscore3">
                <button style="display: none"></button>
            </div>
        </div>
        <div id="gameoptions">
            {{ macros.standardgameoptions() }}
        </div>
        <div id="bannerAdd">
            <script type="text/javascript"><!--
            google_ad_client = "ca-pub-7026363262140448";
            /* word game vert */
            google_ad_slot = "3713734958";
            google_ad_width = 160;
            google_ad_height = 600;
            //-->
            </script>
            <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>

        </div>
        
        <div id="instructions">
        	
            <h1>Contact Multiplication Master</h1>
            <p class="lead">Contact Multiplication Master by email: <a href="mailto:lee.penkman@multiplcationmaster.com" title="contact Multiplication Master">lee.penkman@multiplcationmaster.com</a>
            	</p>
            <p class="lead">Multiplication Master is a free online word search puzzle fun for the whole family!</p>
        </div>
        <div class="clear"></div>
        <div id="btm">
            <script type="text/javascript"><!--
            google_ad_client = "ca-pub-7026363262140448";
            /* big h default */
            google_ad_slot = "3155331752";
            google_ad_width = 728;
            google_ad_height = 90;
            //-->
            </script>
            <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
            

        </div>
    </div>
		
    <div class="clear">
    </div>
    {{ macros.footer() }}
	<div class="clear">
	</div>
</div>

</body>
</html>
