{% import "templates/macros.jinja2" as macros with context %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Multiplication Master - Addicting and Fun Word Puzzle Game</title>
    <meta name="description"
          content="An Utterly Addicting Word Game, Fun For Everyone! Play This Addicting New Word Puzzle, Now For Free!">

    <meta name="keywords" contindeent="multiplication games, maths games, number games, puzzle games, learning games for kids">
    <meta property="og:title" content="Multiplication Master - Addicting and Fun Word Puzzle Game">
    <meta property="og:url" content="http://www.multiplcationmaster.com">
    <meta property="og:image" content="http://www.multiplcationmaster.com/img/multiplcationmaster_icon128.png">
    <meta property="og:description"
          content="Play Multiplication Master! The Utterly Addicting and Fun Word Puzzle Game, Now For Free!">
    <meta property="og:type" content="game">
    <meta property="og:site_name" content="Multiplication Master">
    <meta property="fb:admins" content="337972272904903">

    {{ macros.headers() }}
    {{ macros.cssheaders() }}
    {{ macros.jsheaders() }}
</head>
<body>

</body>
</html>
