{% import "templates/macros.html" as macros with context %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Word Smashing - Addicting and Fun Word Puzzle Game</title>
    <meta name="description"
          content="An Utterly Addicting Word Game, Fun For Everyone! Play This Addicting New Word Puzzle, Now For Free!">

    <meta name="keywords" contindeent="puzzle games, word finder, crossword, free online puzzle games, word puzzle game">
    <meta property="og:title" content="Word Smashing - Addicting and Fun Word Puzzle Game">
    <meta property="og:url" content="http://www.wordsmashing.com">
    <meta property="og:image" content="http://www.wordsmashing.com/img/wordsmashing_icon128.png">
    <meta property="og:description"
          content="Play Word Smashing! The Utterly Addicting and Fun Word Puzzle Game, Now For Free!">
    <meta property="og:type" content="game">
    <meta property="og:site_name" content="Word Smashing">
    <meta property="fb:admins" content="337972272904903">

    {{ macros.headers() }}
</head>
<body>

</body>
</html>
