{% import "gameon/templates/templates.jinja2" as gameon %}
{% import "templates/macros.jinja2" as macros with context %}
{% import "templates/views.jinja2" as views with context %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Multiplication Master - Maths Madness</title>
    <meta name="description"
          content="Multiplication Master, An Utterly Addicting Multiplication Game, Packed With Maths Madness! Train your brain while having a blast!">

    <meta name="keywords"
          contindeent="multiplication games, maths games, number games, puzzle games, learning games for kids">
    <meta property="og:title" content="Multiplication Master - Maths Madness">
    <meta property="og:url" content="http://www.multiplcationmaster.com">
    <meta property="og:image" content="http://www.multiplcationmaster.com/img/multiplcationmaster_icon128.png">
    <meta property="og:description"
          content="Play Multiplication Master! The Utterly Maths Madness, Now For Free!">
    <meta property="og:type" content="game">
    <meta property="og:site_name" content="Multiplication Master">
    <meta property="fb:admins" content="337972272904903">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ macros.headers() }}

    {{ gameon.cssheaders() }}
    {{ macros.cssheaders() }}

    {{ gameon.jsheaders() }}

    {{ macros.jsvars() }}
    {{ macros.jsheaders() }}

    <script id="start" type="text/html">
        {{ views.start() }}
    </script>
    <script id="difficulties" type="text/html">
        {{ views.difficulties() }}
    </script>
    <script id="levels" type="text/html">
        {{ views.levels() }}
    </script>
    <script id="level" type="text/html">
        {{ views.level() }}
    </script>
    <script id="options" type="text/html">
        {{ views.options() }}
    </script>
    <script id="donelevel" type="text/html">
        {{ views.donelevel() }}
    </script>
</head>
<body>
{{ gameon.templates() }}
<div class="mm-background">
    {{ views.start() }}
</div>
<div class="mm-responsivead-bottom navbar-fixed-bottom">
    {{ macros.responsiveAd() }}
</div>
<div class="mm-responsivead-right navbar-fixed-bottom">
    {{ macros.responsiveAd() }}
</div>
</body>
</html>
